#navbar>div:nth-child(3){
    background-color: rgb(227, 227, 227) ;
}
#navbar>div:nth-child(2),#navbar>div:nth-child(4){
    background:none;
}
#navbar>div:nth-child(2):hover,#navbar>div:nth-child(4):hover{
    background-color:rgb(227, 227, 227) ;
}
#AddressBox{
    display: flex;
}
#Address{
    height:450px;
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top:20px ;
    margin-left: 50px;
}
#bar{
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    
}
button{
    color: white;
    background-color: black;
    border: 0px;
    padding: 10px 20px;
    margin-right: 5px;
}
#default{
    color:#1b1919;
    /* font-family: "PT Sans, MS Sans Serif, Geneva, sans-serif"; */
    font-size: 25px;
}
.text{
    font-size: 14px;
    color: #4C4C4C;
    margin-bottom: 20px;
    /* line-height: 1.5px; */
}
#edit{
    display: flex;
}
button:hover{
    background-color: #4C4C4C;
}
